# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environments
.env
myenv/
venv/

# VSCode or other IDEs
.vscode/
.idea/

# macOS/Linux
.DS_Store

# Playwright
**/.playwright/

# Hugging Face Transformers
~/.cache/huggingface/
transformers_cache/
*.bin

# Others
older-versions/